@import "tailwindcss";



@theme {
  --breakpoint-lg768: 768px;
  --breakpoint-lg1: 1340px;
  --breakpoint-xl1440: 1440px;

  --color-primary: #C69815;
}
/* var(--color-primary) */

:root {
  font-family: "Readex Pro";
}


body {
    font-family: "Readex Pro";
}

.Mui-selected {
  background-color:  var(--color-primary) !important;
  color: white !important;
}


input[type="time"]::-webkit-calendar-picker-indicator {
width: 24px;
height: 24px;
font-size: 50px;

}
.ServicePage-dialog{
  max-width: unset !important;
  /* max-height: unset !important; */
  width: 39.375rem;
}
.ServiceViewPage-dialog {
  max-width: unset !important;
  width: 39.375rem; /* 630px */
  height: 90vh; 
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;   
}
.ServiceDeletePage-dialog{
  max-width: unset !important;
  width: 34rem;
}

.RequestsViewPage-dialog{
    max-width: unset !important;
  width:39.375rem;
}

.rerquest-dialog{
    max-width: unset !important;
    width:40.625rem; /* 650px */
}
.TableHead{
      font-family: 0;

}
.LocationPage-dialog{
  max-width: unset !important;
  width:50.375rem;
}
.overviewPage-dialog{
    max-width: unset !important;
    width: 40rem;
}

/* 📱 Tablet */
@media(max-width: 1339px) {
  .fontSizeA{
    font-size:14px ;
  };
  .WHLogA{
    width: 70px;
    height: 70px;
  }
  .WHLogB{
    width: 55px;
    height: 55px;
  }
  .WHLogC{
    width: 28px;
    height: 28px;
  }

}


/* 💻 Desktop */
@media (min-width: 1340px) {
  .fontSizeA{
    font-size:16px;
  };
  .WHLogA{
    width: 100px;
    height: 100px;
  }
  .WHLogB{
    width: 80px;
    height: 80px;
  }
  .WHLogC{
    width: 40px;
    height: 40px;
  }
  
}



/*calenderb in request filter*/

.rdrDefinedRangesWrapper {
  display: none;
}


/* end select btn */
.rdrEndEdge {
  background-color: var(--color-primary);
  color: white;
  border-radius: 0 !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
/* start select btn */
.rdrStartEdge {
  background-color: var(--color-primary);
  color: white;
  border-radius: 0 !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

/* hover btn  */
.rdrDayEndPreview {
  border-radius: 0 !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}


/* .rdrDayStartPreview {
  border-radius: 0 !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;

} */

  .rdrInRange {
    background-color: #d8c486 !important;
    color: white;
    border-radius: 0;

  }


  .rdrDateDisplayWrapper{
    background-color: white !important;
  }
  .rdrDateDisplay{
    padding-left: 30px !important;
    padding-right: 30px !important; 
    background-color: white !important;  
  }

  .rdrMonth {
    padding-left: 30px !important;
    padding-right: 30px !important;   
  }

  .rdrMonthAndYearWrapper {
    padding-left: 30px;
    padding-right: 30px;
  }


  .COMPANY-dialog{
    max-width: unset !important;
    width: 50rem;
  }

  .AddFuel-dialog{
    max-width: unset !important;
    width: 39rem;
    height: fit-content;
  }
  .property-dialog{
  max-width: unset !important;
  width: 40rem;
  height:fit-content;
  }

  
/*street assistant NewOrdersPage*/
  @keyframes progress {
    0% { width: 0%; }
    100% { width: 100%; }
  }
  .animate-progress {
    animation: progress 60s linear forwards; /* 60 ثانية = دقيقة */
  }
/***/

.MuiPickersInputBase-sectionsContainer {
  direction: rtl !important;
}
